In [1]:
import numpy as np
import pandas as pd
import torch
from torch.autograd import Variable
from sklearn.model_selection import KFold
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
origin = pd.read_csv("./data/Origin.csv")

In [3]:
origin = origin.dropna(subset=["OLIG_PROTE_CD"])

In [4]:
origin_df = origin.dropna(
    subset=["TOT_CHOLE", "TRIGLYCERIDE", "HDL_CHOLE", "LDL_CHOLE"]
)  # 콜레스트롤
origin_df = origin_df.dropna(subset=["BLDS"])
origin_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 414980 entries, 574465 to 999999
Data columns (total 34 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   HCHK_YEAR          414980 non-null  int64
 1   IDV_ID             414980 non-null  int64
 2   SIDO               414980 non-null  int64
 3   SEX                414980 non-null  int64
 4   AGE_GROUP          414980 non-null  int64
 5   HEIGHT             414980 non-null  int64
 6   WEIGHT             414980 non-null  int64
 7   WAIST              414948 non-null  float64
 8   SIGHT_LEFT         414901 non-null  float64
 9   SIGHT_RIGHT        414904 non-null  float64
 10  HEAR_LEFT          414901 non-null  float64
 11  HEAR_RIGHT         414902 non-null  float64
 12  BP_HIGH            414974 non-null  float64
 13  BP_LWST            414973 non-null  float64
 14  BLDS               414980 non-null  float64
 15  TOT_CHOLE          414980 non-null  float64
 16  TRIGLYCERIDE       414980 non-null  float64
 17  HDL_CHOLE          414980 non-null  float64
 18  LDL_CHOLE          414980 non-null  float64
 19  HMG                414977 non-null  float64
 20  OLIG_PROTE_CD      414980 non-null  float64
 21  CREATININE         414980 non-null  float64
 22  SGOT_AST           414980 non-null  float64
 23  SGPT_ALT           414980 non-null  float64
 24  GAMMA_GTP          414980 non-null  float64
 25  SMK_STAT_TYPE_CD   414811 non-null  float64
 26  DRK_YN             414904 non-null  float64
 27  HCHK_OE_INSPEC_YN  414980 non-null  int64
 28  CRS_YN             127518 non-null  float64
 29  TTH_MSS_YN         0 non-null       float64
 30  ODT_TRB_YN         0 non-null       float64
 31  WSDM_DIS_YN        0 non-null       float64
 32  TTR_YN             127519 non-null  float64
 33  DATA_STD_DT        414980 non-null  object
dtypes: float64(25), int64(8), object(1)
memory usage: 110.8+ MB

In [5]:
# origin_df = origin_df.sample(frac=1)

In [6]:
origin_df.BLDS.isnull().sum()

0

In [7]:
origin_df["D"] = origin_df["BLDS"].apply(lambda x: 1 if x >= 126 else 0)

In [8]:
origin_df.to_csv("./data/origin_df.csv")